.header{
  width: 100%;
  height: 200px;
  background-color: rgb(138, 138, 247);
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  
}
a{
  text-decoration: none;
  color: black;
  width: 100px;
  height: 50px;
  background-color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;

}
body{
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0px;
  margin: 0px;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: rgb(138, 138, 247);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p{
  padding: 15px;
  background-color: white;
}
.body{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.active-link{
  color: blue;
}
li:hover{
  color: blue;
}